packages:
  yum:
    mod24_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        SSLSessionTickets     Off
        
        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff
        
        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        RequestHeader set X-Forwarded-Proto "https" early
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIGODCCBSCgAwIBAgIJAKw7wfwOL/7iMA0GCSqGSIb3DQEBCwUAMIG0MQswCQYD
        VQQGEwJVUzEQMA4GA1UECBMHQXJpem9uYTETMBEGA1UEBxMKU2NvdHRzZGFsZTEa
        MBgGA1UEChMRR29EYWRkeS5jb20sIEluYy4xLTArBgNVBAsTJGh0dHA6Ly9jZXJ0
        cy5nb2RhZGR5LmNvbS9yZXBvc2l0b3J5LzEzMDEGA1UEAxMqR28gRGFkZHkgU2Vj
        dXJlIENlcnRpZmljYXRlIEF1dGhvcml0eSAtIEcyMB4XDTIwMTAyNzE5MDAxNVoX
        DTIxMTAyNzE5MDAxNVowOjEhMB8GA1UECxMYRG9tYWluIENvbnRyb2wgVmFsaWRh
        dGVkMRUwEwYDVQQDEwxjb3Jvc2F2ZS5hcHAwggEiMA0GCSqGSIb3DQEBAQUAA4IB
        DwAwggEKAoIBAQCuBI740lVO8nQpvQwOlFfgoTfZYO866xymLwj4zD/rYKK6drRA
        r9lUOhXQKhH6wkanLMn9qyMKN1QGkeS607GtJ37o+JkE4RAOMvDoUEijAB1kqiRc
        oI7mXYk1Lz2DCRsrZ2pi1vmThI66T22bUoccM+Wf3/d040bEq0ZcbcN8X1h7IX3j
        4X7TX1LYT3/p/JKFj8uwaqZQwq9lbkkjNzhnbAhQY0h6Uu/yAPFD8k2zMx9bYt53
        eoWMqB2sv8o9zDbENcDoMvjQ1ZQDuS5Iz1wJ8omYedShSuDePE3TIM5vPVtX3wmE
        mz/U1w8xReHBz7tCJYx09Fvy92i3sqXbJB13AgMBAAGjggLEMIICwDAMBgNVHRMB
        Af8EAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAOBgNVHQ8BAf8E
        BAMCBaAwOAYDVR0fBDEwLzAtoCugKYYnaHR0cDovL2NybC5nb2RhZGR5LmNvbS9n
        ZGlnMnMxLTI0MTIuY3JsMF0GA1UdIARWMFQwSAYLYIZIAYb9bQEHFwEwOTA3Bggr
        BgEFBQcCARYraHR0cDovL2NlcnRpZmljYXRlcy5nb2RhZGR5LmNvbS9yZXBvc2l0
        b3J5LzAIBgZngQwBAgEwdgYIKwYBBQUHAQEEajBoMCQGCCsGAQUFBzABhhhodHRw
        Oi8vb2NzcC5nb2RhZGR5LmNvbS8wQAYIKwYBBQUHMAKGNGh0dHA6Ly9jZXJ0aWZp
        Y2F0ZXMuZ29kYWRkeS5jb20vcmVwb3NpdG9yeS9nZGlnMi5jcnQwHwYDVR0jBBgw
        FoAUQMK9J47MNIMwojPX+2yz8LQsgM4wKQYDVR0RBCIwIIIMY29yb3NhdmUuYXBw
        ghB3d3cuY29yb3NhdmUuYXBwMB0GA1UdDgQWBBTaww0afG9LhxFXpqQP8MXtHF6t
        DzCCAQMGCisGAQQB1nkCBAIEgfQEgfEA7wB2APZclC/RdzAiFFQYCDCUVo7jTRMZ
        M7/fDC8gC8xO8WTjAAABdWturBsAAAQDAEcwRQIhANg8TJhesBJ0SpZK8gBlB9uJ
        7Y47a4ktsCallUQzHKQTAiB1AOfHr3YhvevONCq6RrzK+r3Y5WP41EbJ1B4tAQ+2
        nQB1AFzcQ5L+5qtFRLFemtRW5hA3+9X6R9yhc5SyXub2xw7KAAABdWturYIAAAQD
        AEYwRAIgezaqA0j1ZrYjSRMwFYG0uzDlCT9Nn6f15rbzrs2o40cCIEhHF4EpVO2g
        jCms+KZJfSvub8u+oBurx2kyNI25BNu/MA0GCSqGSIb3DQEBCwUAA4IBAQABkNrV
        0wLxIdBHyCIyK4Vs/PKNTbRHFxvDNOqP55S0mqWdeERTaQRNHJE5mbIsHe2T3cBL
        nQGNZp9eNYqEvJ11I+J7rMr+I47Oj9s1Npmixi8W8cmHCuQ7gyepC7JjSr0rDwXe
        3RABCA+Porl8szDNnwMyjHhN8OuMfBAb5dCdDlhTGdsYsVmjuBMpu59lPENOW2BB
        TDzurjGOVed534ZwlsmlhSjRXwEh7zgxnV16GNiDVLAvrJYPf77vIqqztu0scVTZ
        73c6iqi8oytrG187cXYE59ZEX3qaFGUIzNRv+TekzHszW1fRoJ9Roijg6vqwJVOc
        q17uNVwzuH2BUKGl
        -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEpAIBAAKCAQEAps3ZSQhGOx6+5ZWJuSwjNQc2s3VYPTXeSd3Ko3OsW0/AhRYN
        03YOX6aEi78vE+Rd2A9yqeac48KSpa8bQIVjml4NeGqN0Q2z2ZrNztZPdDts+3PQ
        RTsXtLSZgedJbowWU5wvBIIFxFeEFGHTyme4MZLqeR9aZTAC633jxUoYD5YKjDUw
        lhtZ0a6Im1q9eF1JFI98prWdV2wUnnQZLr3OQMxe3AEo1OAM3u3rCEQshxhYa5Xj
        dlEE7ggBz6vw8/D1FERl/sq/ZPFmv+zVbbXLQD1jl63NeritX4kCmxjr2pmmQFwv
        TFgdMKxMetNQBM09u7FrblHguoQh3pzeK+eXawIDAQABAoIBAAg6hWqN5vEJrj8j
        Jl0lKUN3bKJjuouieanJMDLqBOmoQIYQNXRmEYV0cHt4XfksPdjnwi9RehHeSl+0
        CLMhIW2/EAkNsJtMgr/MXDTE67x/JfwtlWuk46F9e0kmQMAcVwme3c7qHyC1dIWQ
        4eLNRQ/lAH4jJtFxEePOHQthgVhbaNLoIG1xi5JaxzcKRnq0QCVSfIvEw9ACc16C
        IFa/xpiZdmhwdxvfrINhqr80qYh8otZJPsc6NrdMPR8/rmengTsyXbFqQo31TB+D
        JIjLbDtjL0Lb2c3lUo8+1wbvWbFOqP3XKm7JSUg1j8YyECPd1QAo84MJVYzYvtGr
        WkJnTbECgYEA9FuTjLCwt3771lU/As06DxHHyXVkzqfhErAsWrZ3agJlVsBdKWH8
        IKz3C2dh4MOJvwDFnRd2FIqpN0hTMzrBxQv7LyMLdsochfhWeo3A6zav+oeV1J9j
        9kDjDrq/kU9wr9vLScS+46UM/w6tWYYnlBkm2V2/oFIyfQnSUC1An1kCgYEArsBa
        bYf7dZejmz7xZ3LHyBmI6v8q/ajKpBoHidKdOnwApZyPrvi6PdQyaMjCkGd0DBS8
        E/jyYb0CbhVCR8rttkWbGULZBUgYu1dIwGSXmE/p2GQtdR2Y73QONzM5ZKCC+Gl2
        gcMqrefiInHxCrErGONldaOMRDGosWN3VqoyuGMCgYEA31f4c+Znj0BcdJnz/t6P
        y4hH4IYRPqXJHaiy0bLnUJiiAXnPbOynY0JUhzLWDncLJu5QsPXpsnrOkb3kdfWl
        eDIsQvg4GTpAed7zRA7ent6cWFOnCfEpj8HdBvB/+hPu/n3ZwDI4+583UsUagrIQ
        6NdYX+LFLIcUqJ7agPfrkfkCgYEApcrGwD4P+xu309UesNe75QMc3F7kia33O0Oa
        vU59bvwwnO7xfr5p67kDblhyBxCvj7qoSYaZZtMsmAZBUN2dM53MLWY3gYRKOorv
        8eA91vqSUIOSgRdofl2sEwDdRbPnLgjYrvnb5wwlhip11oAJ9F3hZ3+X1ycJ9en5
        Uda9siMCgYBQ096fGRqQONzL4vvYC8kkqRr+rENmaaM1KaWJfcxtW54EOVRF7AXi
        rtJxf6syeOYrlH3q8m8Lls0SSZeDHpR++Jd1FqFXmhkpCvaQsf1TdiHMiK87vcYK
        h+yAAFBt8XF85Z/10pq03k+68ChgHSfuLVXCe5Bf5DF3y66fZoK0Jw==
        -----END RSA PRIVATE KEY-----