<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Author -->
    <meta name="author" content="Themes Industry">
    <!-- description -->
    <meta name="description" content="MegaOne is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose studio and portfolio HTML5 template with 8 ready home page demos.">
    <!-- keywords -->
    <meta name="keywords" content="Creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, studio, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, studio, masonry, grid, faq">
    <!-- Page Title -->
    <title>Portfolio Agency | MegaOne HTML5 Template</title>
    <!-- Favicon -->
    <link rel="icon" href="portfolio-agency/img/favicon.ico">
    <!-- Bundle -->
    <link rel="stylesheet" href="vendor/css/bundle.min.css">
    <link rel="stylesheet" href="vendor/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/css/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/css/wow.css">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="vendor/css/LineIcons.min.css">
    <link rel="stylesheet" href="portfolio-agency/css/style.css">
</head>
<body data-spy="scroll" data-target=".side-nav-menu" data-offset="400">
<!-- Preloader -->
<div class="preloader">
    <div class="dot-container">
        <div class="dot dot-1"></div>
        <div class="dot dot-2"></div>
        <div class="dot dot-3"></div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7"/>
            </filter>
        </defs>
    </svg>
</div>
<!-- Preloader End -->


<header>
    <div class="inner-header">
        <div class="">
            <div class="row no-gutters">
                <div class="col-4 col-lg-4 d-flex align-items-center">
                    <a href="javascript:void(0)" class="sidemenu_btn link" id="sidemenu_toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <div class="col-4 col-lg-4 d-flex justify-content-center">
                    
                        <img src="portfolio-agency/img/logo.png" alt="logo">
                    
                </div>
                <div class="col-4 col-lg-4 d-flex justify-content-end align-items-center">
                    <a href="#contact-sec" class="btn btn-main rounded-pill">Kontakt</a>
                </div>
            </div>
        </div>
    </div>
    <!--Side Nav-->
    <div class="side-menu hidden side-menu-opacity">
        <div class="bg-overlay"></div>
        <div class="inner-wrapper">
            <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
            <div class="container">
                <div class="row w-100 side-menu-inner-content">
                    <div class="col-12 col-lg-8 offset-lg-2 nav-icon">
                        <nav class="navbar navbar-nav">
                            <div class="side-nav-menu">
                                <a class="nav-link home active anim-text-white" href="index.html">Corosave</a>
                                    <span></span><span></span><span></span></a>
                                <span class="menu-line link"><i aria-hidden="true">/</i></span>
                            </div>
                        </nav>
                    </div>
                    <div class="side-menu-footer">
                        <!--<div class="social-icons">  
                            <span><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></span>
                            <span><a href="#" class="twit"><i class="fab fa-twitter"></i></a></span>
                            <span><a href="#" class="in"><i class="fab fa-linkedin-in"></i></a></span>
                            <span><a href="#" class="insta"><i class="fab fa-instagram"></i></a></span>
                        </div>    -->
                            <span><a class="nav-link anim-text-white" target="_blank" href="Impressum.html">Impressum</a>  </span>
                            <span><a class="nav-link anim-text-white" target="_blank" href="Datenschutz.html">Datenschutz</a>    </span> 
                        <!--<p class="copywrite text-right">&#169; 2020 Megaone</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="close_side_menu" href="javascript:void(0);"></a>
</header>

<!--main slider section start-->
<section class="main padding-top">
    <div class="container text-justify">
<h3 class="heading"">Impressum</h3> 
<p>corosave UG<br>Musterstrasse 1<br>D-14469 Potsdam</p> 
<p>Telefon:<br>(03327) 6614-0</p> <p>Telefax:<br>(03327) 6614-45</p>
<p>E-Mail:<br>info(at)corosave.de</p> 
<p>Registergericht: Amtsgericht Potsdam<br>Registernummer: HRB 532</p> 
<p>Gesch&auml;ftsf&uuml;hrer:<br>Stephan Scholz, Daniel Fischer, Gabor Juche</p> <p>Umsatzsteuer-Identifikationsnummer gem&auml;ss § 27 a Umsatzsteuergesetz:<br>DE 138459009</p> 
 </div>
 
</section>
<!--Contact section end-->


<!-- JavaScript -->
<script src="vendor/js/bundle.min.js"></script>
<script src="vendor/js/jquery.fancybox.min.js"></script>
<script src="vendor/js/owl.carousel.min.js"></script>
<script src="vendor/js/parallaxie.min.js"></script>
<script src="vendor/js/wow.min.js"></script>

<!-- custom script -->
<script src="vendor/js/contact_us.js"></script>
<script src="portfolio-agency/js/script.js"></script>

</body>
</html>