<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css', mimetype='text/css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css', mimetype='text/css')}}"/>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
    <a href="#" class="logo">logo</a>
    <ul class="main-nav" id="js-menu">
        <li>
            <a href="/login" class="nav-links">Login</a>
        </li>
        <li>
            <a href="#" class="nav-links">About Us</a>
        </li>
    </ul>
</nav>

<h2> Kunden-Login</h2>

<div class="cont">
    <div class="form">
        <form action="">
            <h1>Login</h1>
            <input type="text"
                   class="user"
                   placeholder="Username"/>
            <input type="password"
                   class="pass"
                   placeholder="Password"/>
            <button class="login">Login</button>
        </form>
    </div>
</div>

</body>
</html>